<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="csspag6p5.css" />
  <title></title>
  <style type="text/css">
    /* NO TOCAR ESTE CSS, ES EL QUE DA FORMA A LA PÁGINA */
    body {
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      overflow:hidden;
    }
    .magicDiv {
      background-image:url('<%= image_path %>');
      background-repeat:no-repeat;
      background-position:0% 0%;
      background-size:100%; 
      position:absolute;
      left: 32px;
      top: 32px;
      height:1344px;
      width: 1024px;
      overflow:hidden;
    }
    /* NO TOCAR ESTE CSS, ES EL QUE DA FORMA A LA PÁGINA */
  </style>
</head>
  <body>
    <div class="magicDiv">
        <div class="informacindesolicitud_datosdelasolicitud_fechadesolicitud">
          <span class="field_size_1">
            <%= fields["informacindesolicitud_datosdelasolicitud_fechadesolicitud"] %>
          </span>
        </div>
        <div class="informacindesolicitud_datosdelasolicitud_numerodesolicitud">
          <span class="field_size_1">
            <%= fields["informacindesolicitud_datosdelasolicitud_numerodesolicitud"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora9_nombredelaentidad">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora9_nombredelaentidad"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora9_usuario">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora9_usuario"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora9_nmerodeobservacin">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora9_nmerodeobservacin"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora9_observaciones">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora9_observaciones"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora10_nombredelaentidad">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora10_nombredelaentidad"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora10_usuario">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora10_usuario"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora10_nmerodeobservacin">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora10_nmerodeobservacin"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora10_observaciones">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora10_observaciones"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora11_nombredelaentidad">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora11_nombredelaentidad"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora11_usuario">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora11_usuario"] %>
          </span>
        </div>
  <div class="entidadevaluadorarevisiones_entidadevaluadora11_nmerodeobservacin">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora11_nmerodeobservacin"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora11_observaciones">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora11_observaciones"] %>
          </span>
        </div>
        <img src="page_590_page_436_imagen103N.png" width="1024" height="1344"  alt=""/>    
</div>
</body>
</html>
<%= "<!-- DO_NOT_RENDER -->" if ((fields["entidadevaluadorarevisiones_entidadevaluadora9_observaciones"] == "NO FUE REQUERIDA REVISIÓN DE ESTA ENTIDAD.") && 
  (fields["entidadevaluadorarevisiones_entidadevaluadora10_observaciones"] == "NO FUE REQUERIDA REVISIÓN DE ESTA ENTIDAD.") && 
  (fields["entidadevaluadorarevisiones_entidadevaluadora11_observaciones"] == "NO FUE REQUERIDA REVISIÓN DE ESTA ENTIDAD."))  %>
