<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="csspag8p5.css" />
  <title></title>
  <style type="text/css">
    /* NO TOCAR ESTE CSS, ES EL QUE DA FORMA A LA PÁGINA */
    body {
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      overflow:hidden;
    }
    .magicDiv {
	background-image: url('<%= image_path %>');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: absolute;
	left: 6px;
	top: 4px;
	height: 1344px;
	width: 1024px;
	overflow: hidden;
    }
    /* NO TOCAR ESTE CSS, ES EL QUE DA FORMA A LA PÁGINA */
  </style>
</head>
  <body>
    <div class="magicDiv">
        <div class="informacindesolicitud_datosdelasolicitud_fechadesolicitud">
          <span class="field_size_1">
            <%= fields["informacindesolicitud_datosdelasolicitud_fechadesolicitud"] %>
          </span>
        </div>
        <div class="informacindesolicitud_datosdelasolicitud_numerodesolicitud">
          <span class="field_size_1">
            <%= fields["informacindesolicitud_datosdelasolicitud_numerodesolicitud"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora12_nombredelaentidad">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora12_nombredelaentidad"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora12_usuario">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora12_usuario"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora12_nmerodeobservacin">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora12_nmerodeobservacin"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora12_observaciones">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora12_observaciones"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora13_nombredelaentidad">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora13_nombredelaentidad"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora13_usuario">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora13_usuario"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora13_nmerodeobservacin">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora13_nmerodeobservacin"] %>
          </span>
        </div>
        <div class="entidadevaluadorarevisiones_entidadevaluadora13_observaciones">
          <span class="field_size_1">
            <%= fields["entidadevaluadorarevisiones_entidadevaluadora13_observaciones"] %>
          </span>
        </div>
      <img src="page_604_page_437_imagen111N.png" width="1024" height="1344"  alt=""/>
</div>
</body>
</html>
<%= "<!-- DO_NOT_RENDER -->" if ((fields["entidadevaluadorarevisiones_entidadevaluadora12_observaciones"] == "NO FUE REQUERIDA REVISIÓN DE ESTA ENTIDAD.") && 
  (fields["entidadevaluadorarevisiones_entidadevaluadora13_observaciones"] == "NO FUE REQUERIDA REVISIÓN DE ESTA ENTIDAD."))  %>
