<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="PrintDesign_0_Page_1" rel="stylesheet" type="text/css" />
  <title>Solicitud vía web del Record Policivo para personas nacionales y naturales en Panamá</title>
  <style type="text/css">
    /* NO TOCAR ESTE CSS, ES EL QUE DA FORMA A LA PÁGINA */
    .mensajedij_mensajedij_imprimirsinsentencia {
      display: none;
    }
    body {
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      overflow:hidden;
    }
    .magicDiv {
      background-image:url('<%= image_path %>');
      background-repeat:no-repeat;
      background-position:0% 0%;
      background-size:100%; 
      position:absolute;
      left: 32px;
      top: 32px;
      height:1344px;
      width: 1024px;
      overflow:hidden;
    }
    /* NO TOCAR ESTE CSS, ES EL QUE DA FORMA A LA PÁGINA */
  </style>
</head>
  <body>
    <div class="magicDiv">
        <div class="gestionsolicitud_gestionsolicitud_provincia_lista">
          <span class="field_size_1">
            <%= fields["gestionsolicitud_gestionsolicitud_provincia_lista"] %>
          </span>
        </div>
        <div class="datosdeltitularrp_datosbsicosdepersonanatural_cdulapasaporte">
          <span class="field_size_1">
            <%= fields["datosdeltitularrp_datosbsicosdepersonanatural_cdulapasaporte"] %>
          </span>
        </div>
        <div class="datosdeltitularrp_datosbsicosdepersonanatural_nombrecompleto">
          <span class="field_size_1">
            <%= fields["datosdeltitularrp_datosbsicosdepersonanatural_nombrecompleto"] %>
          </span>
        </div>
        <div class="datosdeltitularrp_codigounicodij_codigounico">
          <span class="field_size_1">
            <%= fields["datosdeltitularrp_codigounicodij_codigounico"] %>
          </span>
        </div>
        <div class="datosdeltitularrp_datosdesolicitud_fechadesolicitud">
          <span class="field_size_1">
            <%= fields["datosdeltitularrp_datosdesolicitud_fechadesolicitud"] %>
          </span>
        </div>
        <div class="datosdeltitularrp_datosdesolicitud_numerodesolicitud">
          <span class="field_size_1">
            <%= fields["datosdeltitularrp_datosdesolicitud_numerodesolicitud"] %>
          </span>
        </div>
        <div class="codigounicodij_codigounicodij_year">
          <span class="field_size_1">
            <%= fields["codigounicodij_codigounicodij_year"] %>
          </span>
        </div>
        <div class="codigounicodij_codigounicodij_mes">
          <span class="field_size_1">
            <%= fields["codigounicodij_codigounicodij_mes"] %>
          </span>
        </div>
        <div class="codigounicodij_codigounicodij_dia">
          <span class="field_size_1">
            <%= fields["codigounicodij_codigounicodij_dia"] %>
          </span>
        </div>
        <div class="mensajedij_mensajedij_imprimirsinsentencia">
          <span class="field_size_1">
            <%= fields["mensajedij_mensajedij_imprimirsinsentencia"] %>
          </span>
        </div>
        <div class="directordij_datosdelfuncionariogenerico_usuario">
          <span class="field_size_1">
            <%= fields["directordij_datosdelfuncionariogenerico_usuario"] %>
          </span>
        </div>
        <div class="directordij_datosdelfuncionariogenerico_usuario2">
          <span class="field_size_1">
            <%= fields["directordij_datosdelfuncionariogenerico_usuario2"] %>
          </span>
        </div>
    </div>
  </body>
</html>
